<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <% if @tutor_id = current_user.tutor %>
  <h5><%= link_to 'Back to Edit Profile', "/edit-profile" %></h5>
  <% end %>

  <p>
    <strong>Profile Avatar:</strong>
  <%= image_tag current_user.tutor.avatar.url(:medium) %>
  </p>


  <p>
    <strong>Profile Headline:</strong>
    <%= @headline %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @description %>
  </p>

  <p>
    <strong>Hourly Rate: </strong>
    <%= @hourly_rate %>
  </p>

  <p>
    <strong>Skills: </strong>
    <% @skills.each do |skill| %>
    <%= skill.name %><br>

    <% end %>  </p>








</div>
