<%= form_with model: @skill, local: true, url: "/tutor/skill" do |f| %>

<br>
<div class="field">
  <strong><%= f.label :skills %></strong><br>
  <%= f.collection_select(:skill_id, Skill.all, :id, :name) %><br>
</div>

<br>
<div class="actions">
<strong><%= f.label "Add each Skill" %></strong><br>
  <%= f.submit class: 'btn btn-primary' %>
</div>

<% end %>
<% @skills.each do |skill| %>
<%= skill.name %><br>

<% end %>
<br>
<br><%= link_to "Finished Updating All My Skills!", profile_path %>
