<%= form_with model: @tutor, local: true, url: "/tutor_profile" do |f| %>



<div class="field">
  <%= f.label 'profile headline' %><br />
  <%= f.text_area :headline %>
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, id: :description %>
</div>

<div class="field">
  <%= f.label :hourly_rate, "Hourly_Rate ($)" %>
  <%= f.text_field :hourly_rate %>
</div>

<div class="actions">
  <%= f.submit class: 'btn btn-primary' %>
</div>

<% end %>
