<%= form_with model: @tutor, local: true, url: "/edit-profile", html: { multipart: true } do |f| %>


<br>
<div class="field">
  <strong><%= f.label 'profile headline' %></strong><br>
  <%= f.text_area :headline, :rows => 2, style: 'width:100%;' %>
</div>

<div class="field">
  <strong><%= f.label :description %></strong><br>
  <%= f.text_area :description, id: :description, :rows => 15, style: 'width:100%;' %>
</div>

<div class="field">
  <strong><%= f.label :hourly_rate, "Hourly Rate ($)" %></strong><br>
  <%= f.text_field :hourly_rate %>
</div>
<br>

<br>
<div class="field">
  <strong><%= f.label "Upload Profle Photo" %></strong><br>
  <%= f.file_field :avatar %><br>
</div>
<br>

<div class="actions">
  <%= f.submit class: 'btn btn-primary' %><br>
</div>

<% end %>
